.options {
    width: 100%;
    height: 100vh;
    /* background-color: rgb(76, 0, 255); */
    /* background: url('../../assets/handling-bg.jpg') no-repeat center center/cover; */
}

@media screen and (max-width:540px) {
    .options .container .bottom {
        flex-direction: column;
        align-items: center;
    }
}

.map-container {
    /* position: absolute; */
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
  }
  
  .marker {
    background-color: #2a45c0;
    /* border: 1px solid blue; */
    color: white;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5px;
    margin: 4px 2px;
    border-radius: 50%;
  }




  #menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: "Open Sans", sans-serif;
  }
  
  #menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
  }
  
  #menu a:last-child {
    border: none;
  }
  
  #menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
  }
  
  #menu a.active {
    background-color: #3887be;
    color: #ffffff;
  }
  
  #menu a.active:hover {
    background: #3074a4;
  }
  